<section class="baner_sales">
    <div class="container">
        <h1 class="baner_sales__title title_text_bold">ПОЛУЧИ ЗАЩИТУ ИММУНИТЕТА <p class="text_color_title">СО СКИДКОЙ -15% ПЕРВЫМ!</p></h1>
        <div class="baner_sales__item">
            <div class="item small_text">
                <img width="192" height="160" src="@img/sales-item-property.svg" alt="sales-item-property">
            <p>Содержит <span class="text_color_title">имбирь</span></p>
            </div>
            <div class="item">
                <div class="price">
                    <div class="price__oldprice text_weight ">750</div>
                    <div class="price__newprice text_weight">690</div>
                </div>
                <img style="margin: 43px 0 45px 0;" width="480px" src="@img/sales-item.svg" alt="sales-item">
                <div class="free_shipp">
                    <p>+ Бесплатная доставка</p>
                    <p class="text_color_title" style="font-size: 24px;">Специальная цена</p>
                </div>
            </div>
            <div class="item small_text">
                <img width="192" height="160" src="@img/sales-item-property2.svg" alt="sales-item-property2">
                <p>Нейтрализует <span class="text_color_title">вирусы</span></p>
            </div>
        </div>
        <button class="order">Оформить заказ!</button>
    </div>
</section>